.cartItemContainer {
    display: flex;
    margin-bottom: 0.5rem;
    height: fit-content;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 -1px 1px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
}

.qtyContainer {
    display: flex;
}

.cartItemContainer img {
    width: 10rem;
    /* box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.3); */
    border-radius: 5px;
}

.detailsContainer {
    display: flex;
}

.itemDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 1rem;
    justify-content: center;
}

.removeItemButton {
    margin: 1rem;
    font-size: 1rem;
    background-color: rgb(21, 131, 195, 0.05);
    color: red;
    transition: 0.2s;
}

.removeItemButton:hover {
    color: orange;
}

@media only screen and (max-width: 530px) {
    .cartItemContainer {
        flex-direction: column;
        font-size: 14px;
    }

    .itemDetails {
        margin-top: 1rem;
        font-size: 0.8rem;
        align-items: center;
    }
}
