.cartItemContainer {
    display: flex;
    height: 22vh;
    margin: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 1rem 2em;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
}

.cartItemContainer img {
    height: 20vh;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.3);
    border-radius: 5px;
}

.itemDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 2em;
}

.removeItemButton {
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    background-color: whitesmoke;
    color: var(--grey);
    transition: 0.2s;
    text-transform: uppercase;
}

.removeItemButton:hover {
    color: orange;
}
