.dropDownHandler {
    position: relative;
}

.dropDownContainer {
    position: absolute;
    font-size: 1rem;
    display: none;
    flex-direction: column;
    right: -10%;
    border-radius: 5px;
    background-color: rgb(241, 241, 241);
}

.admin {
    right: 5%;
}

.dropDownDisabled {
    display: none;
}

.dropDownLink {
    text-decoration: none;
    font-size: 1.2em;
    text-align: center;
    color: var(--grey);
    padding: 1em;
    transition: 0.2s;
}

.dropDownLink:hover {
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.3);
}

.logout {
    font-size: 1.2em;
    color: var(--grey);
    padding: 1em;
    cursor: pointer;
    transition: 0.3s;
}

.logout:hover {
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.3);
}

.dropDownHandler:hover .dropDownContainer {
    display: flex;
}
