.dropDownHandler {
    position: relative;
    cursor: pointer;
}

.dropDownContainer {
    display: none;
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    font-size: 1rem;
    flex-direction: column;
    border-radius: 5px;
    background-color: rgb(241, 241, 241);
}

.dropDownClickContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    font-size: 1rem;
    flex-direction: column;
    border-radius: 5px;
    background-color: rgb(241, 241, 241);
}

.admin {
    width: 8rem;
    left: -2.5rem;
}

.dropDownDisabled {
    display: none;
}

.dropDownLink {
    text-decoration: none;
    text-align: center;
    color: var(--grey);
    padding: 1em;
    transition: 0.2s;
}

.dropDownLink:hover {
    color: orange;
}

.dropDownIcon {
    font-size: 1.5rem;
    transition: 0.2s;
}

.dropDownLink:hover .dropDownIcon {
    color: orange;
}

.dropDownHandler:hover .dropDownContainer {
    display: flex;
}
