.headerContainer {
    position: relative;
    background-color: var(--grey);
    padding: 1.6rem 0 1rem 2rem;
    z-index: 1;
}

.mainLogo {
    text-decoration: none;
    color: whitesmoke;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 1.2rem;
}

.headerUl {
    list-style-type: none;
    display: flex;
    float: right;
}

.headerLink {
    text-decoration: none;
    margin: 1rem;
    font-size: 1.2rem;
    color: whitesmoke;
    padding: 0.5rem;
    border-radius: 5px;
}

.headerLink:hover {
    border: 1px solid whitesmoke;
}

.headerSearchBox {
    display: flex;
    position: absolute;
    top: 1.5rem;
    left: 30%;
    margin: 0 2em;

    align-items: center;
}

.searchBoxInput {
    margin: 0 0.5rem;
}

.searchBoxButton {
    background-color: var(--grey);
    border: none;
    transition: 0.2s;
    border-radius: 5px;
    padding: 0.5em;
}

.searchBoxButton:hover {
    border: 1px solid whitesmoke;
}

.menuDropDownButton {
    display: none;
    position: absolute;
    color: whitesmoke;
    right: 2rem;
    font-size: 1.2rem;
    top: 1.9rem;
    cursor: pointer;
}

.dropDownFloatingContainer {
    display: inline-block;
    padding: 1rem 0;
    border-radius: 5px;
    position: fixed;
    top: 0.5rem;
    right: 0;
    background-color: var(--grey);
}

@media only screen and (max-width: 1060px) {
    .responsiveLi {
        display: none;
    }

    .headerSearchBox {
        left: 20%;
    }

    .menuDropDownButton {
        display: block;
    }
}

@media only screen and (max-width: 530px) {
    .headerContainer {
        height: 5rem;
    }

    .headerSearchBox {
        display: flex;
        justify-content: center;
        top: 5rem;
        left: 0;
        width: 100%;
        margin: 0 auto;
    }
}
