.headerContainer {
    position: relative;
    background-color: var(--grey);
    padding: 1.6em;
    z-index: 1;
}

.headerH1 {
    display: inline-block;
    color: whitesmoke;
}

.headerUl {
    list-style-type: none;
    display: flex;
    float: right;
}

.headerLink {
    text-decoration: none;
    margin: 1em;
    font-size: 1.3em;
    color: whitesmoke;
    padding: 1em;
    border-radius: 5px;
}

.headerLink:hover {
    border: 1px solid whitesmoke;
}

.headerSearchBox {
    display: flex;
    margin: 0 2em;
    /* border: 1px solid red; */
    align-items: center;
}

.searchBoxInput {
    margin: 0 0.5rem;
}

.searchBoxButton {
    background-color: var(--grey);
    border: none;
    transition: 0.2s;
    border-radius: 5px;
    padding: 0.5em;
}

.searchBoxButton:hover {
    border: 1px solid whitesmoke;
}
