.itemContainer {
    display: flex;
    background-color: rgb(21, 131, 195, 0.1);
    border-radius: 5px;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.3);
    padding: 0.2em;
    margin-bottom: 0.5em;
    flex-wrap: wrap;
    justify-content: space-between;
}

.itemContainer strong {
    margin: auto 1em;
}

@media only screen and (max-width: 1400px) {
    .itemContainer {
        flex-direction: column;
        width: 15rem auto;
        font-size: 0.8rem;
        flex-direction: column;
        justify-content: center;
    }

    .itemContainer img {
        width: 15rem;
    }
}

@media only screen and (max-width: 1000px) {
    .itemContainer {
        font-size: 13px;
    }
}
