.productContainer {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 25rem;
  border-radius: 6px;
  margin: 2em;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.3);
  transition: 0.3s;
}

.productContainer:hover {
  box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.3);
}

.productContainer img {
  width: 25rem;
  height: 20rem;
}
