.productContainer {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 17rem;
    margin: 1rem;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.3);
    transition: 0.3s;
    flex-basis: 100%;
    font-size: 0.8rem;
    text-align: center;
}

.productContainer:hover {
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.3);
}

.productContainer img {
    width: 15rem;
}

@media only screen and (max-width: 1060px) {
    .productContainer {
        margin: 0.5em;
    }
}

@media only screen and (max-width: 530px) {
    .productContainer {
        width: 10rem;
        height: 12rem;
        font-size: 0.6rem;
    }

    .productContainer img {
        width: 10rem;
    }
}
