.productPanelContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.3);
}
