.shippingContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;
    border-radius: 5px;
    padding: 1em;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.3);
}

.shippingForm {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.shippingForm input {
    flex-basis: 40%;
    margin: 1rem;
    font-size: 1.2rem;
    text-align: center;
}

.shippingUpdateButton {
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 5px;
    color: whitesmoke;
    background-color: var(--grey);
    padding: 1em;
    border: none;
    transition: 0.3s;
}

.shippingUpdateButton:hover {
    background-color: orange;
    color: var(--grey);
}

@media only screen and (max-width: 1400px) {
    .shippingForm {
        flex-direction: column;
    }

    .shippingForm input {
        font-size: 16px;
    }

    .shippingUpdateButton {
        position: static;
    }
}

@media only screen and (max-width: 1000px) {
    .shippingContainer {
        width: 95%;
    }

    .shippingForm input {
        font-size: 12px;
    }
}
