.cartScreenContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cartItemsSection {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.checkoutSection {
    display: flex;
    margin: 1rem;
    padding: 1em;
    flex-basis: 20%;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    justify-content: space-around;
    height: max-content;
}

.checkoutSectionSpan {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout {
    border: none;
    background-color: var(--primary);
    font-size: 1rem;
    color: whitesmoke;
    padding: 0.5em;
    margin: 1rem auto;
    width: 60%;
    border-radius: 5px;
    transition: 0.2s;
}
.checkout:hover {
    background-color: orange;
    color: var(--primary);
}

.block {
    background-color: var(--primary);
    width: 100%;
    height: 2.5em;
}

@media only screen and (max-width: 1060px) {
    .cartScreenContainer {
        flex-direction: column;
    }

    .checkoutSection {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 530px) {
    .checkoutSection {
        font-size: 0.9rem;
    }
}
