.cartScreenContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 1px solid red;
    min-height: calc(100vh - 160px);
}

.cartItemsSection {
    display: flex;
    flex-direction: column;
}

.checkoutSection {
    margin-top: 2em;
    display: flex;

    flex-direction: column;
    border: 2px solid var(--grey);
    height: fit-content;
    align-items: center;
}

.checkoutSection strong {
    margin: 1rem 3em;

    font-size: 1.5em;
}

.checkout {
    border: none;
    background-color: var(--grey);
    font-size: 1rem;
    color: whitesmoke;
    padding: 0.5em;
    margin: 1rem;
    width: 60%;
    transition: 0.3s;
}
.checkout:hover {
    background-color: orange;
    color: var(--grey);
}

.block {
    background-color: var(--grey);
    width: 100%;
    height: 2.5em;
}
