.shippingDetails {
    display: flex;
    font-size: 1.2rem;
    flex-direction: column;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.3);
    border-radius: 5px;
}

.deliveryStatus {
    display: block;
    text-align: center;
    margin-top: 2em;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.3);
    border-radius: 5px;
    font-size: 1.3em;
    padding: 0.5em;
}
.orderItems {
    margin: 1rem;
}


.backwardLink {
    text-decoration: none;
    padding: 0.5rem;
    background-color: var(--grey);
    font-size: 12px;
    border-radius: 5px;
    color: whitesmoke;
    transition: 0.2s;
}

.backwardLink:hover {
    background-color: orange;
    color: var(--grey);
}


@media only screen and (max-width: 1000px) {
    .shippingDetails, .deliveryStatus {
        margin: 0.5rem;
        font-size: 16px;
    }

    .orderPrice {
        width: 100%;
    }
}